.gray-box{
  background: #208ce2;
  height: 44px;

}

.blue-box{
  background: #134670;
  height: 111px;
}

.search-box{
  background: #33cc66;
  height:75px;
  margin-top: 15px;
  border-radius: 10px;
}

.footer-box{
  background:#f7f7f7;
}

.content-box{
  background: #f6f6f6;
  height:1140px;
  border: 1px #eeeeee;
  margin-top: 15px;
  border-radius: 10px;

}

.inside-box{
  background: #ffffff;
}

#dashtext{
  color: #ffffff;
}
