.gray-box{
  background: #208ce2;
  height: 44px;

}

.blue-box{
  background: #134670;
  height: 111px;
}

.search-box{
  background: #33cc66;
  height:75px;
  margin-top: 15px;
  border-radius: 10px;
}

.footer-box{
  background:#f7f7f7;
  min-height: 50px;
  padding-top: 10px;
}

.content-box{
  background: linear-gradient(#f6f6f6, #ffffff);
  height:1140px;
  padding: 1px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 0px;



}


.first-row{
  background: #ffffff;
  height:50px;
  padding-top: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border-bottom: 1px solid #eeeeee;

}

.announce-box{
  border-right: 1px solid #eeeeee;
}

.col-sm-9.announce-two{
  border-right: 1px solid #eeeeee;
}

.col-sm-4.content-left-sb{
  border-right:  1px solid #eeeeee;
}

.second-row{
  background: #ffffff;
  height:65px;
  margin-top: 0px;
  margin-left:20px;
  margin-bottom: 0px;
  margin-right: 20px;
  padding-top: 0px;
}

.third-row{
  background: #ffffff;
  padding-top: 20px;
  margin-left:20px;
  margin-bottom: 0px;
  margin-right: 20px;
}

#dashtext{
  color: #ffffff;
}

#announce{
  color: #fea46c;
}

#announce-ex{
  color: #777777;
}

#tasks{
  color: #2498f4;
  float: left;
}

#analytics{
    color: #2498f4;
}

.container{
  padding: 0px;
}

.col-sm-2{
  border: 1px #efefef;
}

.navbar-form.navbar-right{
  float: right;
}

.foot-text{
  color: #b0b0b0;
}

.dash-search-button{
  float: right;
}

.tasks-circle{
  float: left;
  position: absolute;
  z-index: 1;
}

.contax{
  position: relative;
  z-index: 2;
  left: 8px;
}

.gear-right{
  float: right;
  padding-top: 25px;
}

.dash-img{
  padding-top: 25px;
  padding-left: 25px;

}

.mini-img{
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 3px;
}


.dash-img a:hover {
background: green;
}

.a-graph{
  width: 100%;
}

.pie-graph{
  width: 100%;
}

.col-sm-12.blue-banner{
  background-color: #2498f4;
  margin: 15px;
  padding: 35px;
  min-height: 140px;
  border-radius: 10px;

}
.col-md-12.big-blue-row{
  background-color: #2498f4;
  min-height: 220px;



}

.foot-em-txt{
  color: #2498f4;
  font-weight: bold;
}

.foot-detes-two{
  float: right;
  padding-top: 10px;
}

.foot-line{
  height:100%;
}

.banner-one{
  float: left;
  margin-left: 0px;
  padding-top:20px;
}

.banner-three{
  float: right;
  margin-right: 0px;
  padding-right: 0px;
  padding-top:20px;
}

.banner-two{
  padding-left: 140px;
  padding-top: 10px;
}

.col-sm-12.tasks{
  min-height: 60px;
}

.banner-left{
  float:left;
  padding-top: 45px;
}

.banner-right{
  margin-top: 0px;
  padding-top: 0px:
  float:right;

}

.col-sm-2.pies{
  border-left: 1px solid #eeeeee;
}

.col-sm-12.sol-med{
  padding-left: 150px;

}

.col-sm-12.rec{
  border-bottom: 1px dotted #eeeeee;
  margin: 10px;
}

.rec-img{
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.arthead{
  font-size: .9em;
}

.rec-text{
  font-size: 1em;
}

.c-an-c{
  padding-left: 100px;
}
